<configuration>
    <appender name="MyConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>
            %d{HH:mm:ss} [%thread] %-5level %logger{36} -%msg%n
        </pattern>
    </encoder>
    </appender>
    <appender name="MyFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            JournalApp.log
        </file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
          <fileNamePattern>JournalApp-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>
          <maxFileSize>10MB</maxFileSize>
      </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss} [%thread] %-5level %logger{36} -%msg%n
            </pattern>
        </encoder>

    </appender>
    <root level="INFO">
        <appender-ref ref="MyConsoleAppender"/>
        <appender-ref ref="MyFileAppender"/>

    </root>
</configuration>